<form action="/post/add" method="POST">
    <label>Title</label>
    <br>
    <input id="title" type="text" name="title">
    <br>
    <label>Name of Author</label>
    <br>
    <input id="title" type="text" name="name">
    <br>
    <label>Write Post</label>
    <br>
    <textarea id="description" name="description"></textarea>
    <br>
    <button class="btn btn-primary" type="submit">Add</button>
</form>